{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
  </head>
  <body>
    <div class="container">
        <center>
            <h2>Visi dan Misi Universitas Sultan Ageng Tirtayasa Tahun 2019 s.d. 2023</h2>
        </center>
        <br><br>
        <h3>VISI</h3>
        Terwujudnya UNTIRTA Sebagai Integrated Smart and Green (It's Green) University yang UNGGUL, BERKARAKTER DAN BERDAYA SAING, 
        di Kawasan ASEAN tahun 2030</a>
        <br><br>
        <h3>MISI</h3>
        Meningkatkan kualitas, relevansi dan daya saing pendidikan serta 
        lulusan yang unggul, berkarakter dan berdaya saing di kawasan ASEAN
        <br> Meningkatkan kualitas dan kuantitas penelitian dan pengabdian kepada masyarakat 
        yang inovatif berbasis kebutuhan nyata sesuai perkembangan zaman
        <br> Meningkatkan daya dukung tatakelola perguruan tinggi yang baik sebagai implementasi dari 
        Integrated Smart and Green (It's Green) University
        <br><br>
        <h3>VALUE | JAWARA (Jujur, Adil, Wibawa, Amanah, Religius, Akuntabel)</h3>
        “UNTIRTA merupakan rumah yang tidak hanya berperan sebagai tempat, 
        namun juga sebagai sumber pengetahuan, keteladanan, dan kebajikan. Oleh karena itu seluruh sivitas akademikanya 
        berkewajiban menjunjung tinggi nilai-nilai dasar dalam melaksanakan tugas dan tanggungjawabnya.” (Sulaiman. 2019)
        <br><br><br>
        <center>
            <h2> Sejarah Singkat Universitas Sultan Ageng Tirtayasa</h2><br>
            <img src="{% static 'images/image003.jpg' %}" style="width:500px;height:300px;">
        </center><br>
        <p>Sejarah Universitas Sultan Ageng Tirtayasa dimulai dari Yayasan Pendidikan Tirtayasa yang didirikan 
            tanggal 1 Oktober 1980, berkedudukan di Serang, Banten. Pendirian yayasan ini dikukuhkan berdasarkan 
            Akte Notaris Rosita Wibisono, SH. No. 1 tanggal 1 Oktober 1980, yang kemudian diadakan perubahan melalui 
            Akte Notaris Ny. R. Arie Soetardjo, SH. No. 1 tanggal 3 Maret 1986. Maksud dan tujuan pendirian yayasan ini adalah :</p>
        <p>1. Membantu usaha-usaha pemerintah dalam bidang pendidikan umum.</p>
        <p>2. Mendirikan sekolah-sekolah mulai dari taman kanak-kanak sampai dengan perguruan tinggi, termasuk juga sekolah-sekolah kejuruan.</p>
        <p>3. Merencanakan dan mengusahakan sarana pendidikan, serta sarana olah raga.</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>


{% endblock %}