{% load static %}
<div class="jumbotron">
    <center>
    <div class="p-5 mb-4 bg-success rounded-3">
        <div class="container-fluid py-5">
          <img src="{% static 'images/image001.jpg' %}" style="width:100px;height:100px;" alt="Logo Untirta">
          <h1 class="display-4 fw-bold">Universitas Sultan Ageng Tirtayasa</h1>
          <p class="col-md-8 fs-4">“Inovasi, kolaborasi dan harmonisasi UNTIRTA Jawara untuk Indonesia maju”</p>
          <button class="btn btn-dark btn-lg" type="button" href="/profil/templates/tentang.html">Tentang Untirta</button>
        </div>
      </div>
    </center>
  </div>